

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
#group1 {
    width: 200px;
}

#group1 div {
    background-color: #EDE8F4;
}

div a {
    color: #146E85;
    text-decoration: blink;
}
</style>
<h2>管理</h2>
<div id="group1">
    <div><a href="~/Admin1/Home_IMG">修改主頁圖片(Home)</a></div>
    <div><a href="~/Admin1/Home_text">修改主頁文字(Home)</a></div>
    <div><a href="~/Admin1/Test_text">修改測試交字(Test)</a></div>
</div>
